<h1 mat-dialog-title>Change Password</h1>
<div mat-dialog-content>
  <form [formGroup]="passwordForm" class="company-form">


      <mat-form-field class="full-width">   
        <mat-label>Current Password</mat-label>
        <input matInput formControlName="passwordCurrent" [type]="hidePasswordCurrent ? 'password' : 'text'">    
        <button mat-icon-button matSuffix (click)="hidePasswordCurrent = !hidePasswordCurrent" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePasswordCurrent">
          <mat-icon>{{hidePasswordCurrent ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>    
        <mat-error *ngIf="passwordForm.controls['passwordCurrent'].hasError('required')">
            A email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="passwordForm.controls['passwordCurrent'].hasError('pattern')">
            Please provide your <strong>current</strong> password
        </mat-error>            
      </mat-form-field>


      <mat-form-field class="full-width">   
        <mat-label>Password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" >
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error class="full-width" *ngIf="passwordForm.controls['password'].hasError('required')">
            A password is <strong>required</strong>
        </mat-error>
        <mat-error  class="full-width" *ngIf="passwordForm.controls['password'].hasError('pattern')">
            Requires both upper and lower case letters and at least one number
        </mat-error>   
        <mat-error *ngIf="passwordForm.controls['passwordConfirm'].hasError('notEqual')">
          Passwords must match
      </mat-error> 
      </mat-form-field>


      <mat-form-field class="full-width">   
        <mat-label>Confirm Password</mat-label>
        <button mat-icon-button matSuffix (click)="hidePasswordConfirm = !hidePasswordConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePasswordConfirm">
          <mat-icon>{{hidePasswordConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <input matInput matchingValidator="password" formControlName="passwordConfirm" [type]="hidePasswordConfirm ? 'password' : 'text'" >  
        <mat-error  *ngIf="passwordForm.controls['passwordConfirm'].hasError('required')">
            A password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="passwordForm.controls['passwordConfirm'].hasError('notEqual')">
            Passwords must match
        </mat-error> 
             
      </mat-form-field>  
    </form>   
</div>
<div mat-dialog-actions>
  <button mat-button class="cancel-button" (click)="onNoClick()">Cancel</button>
  <button mat-button class="ok-button" [disabled]="!passwordForm.valid" (click)="onSubmit()" cdkFocusInitial>OK</button>
</div>