.mat-form-field{width:100%;}

.mat-dialog-actions{display:inline;}

.ok-button{float:right;position: relative;left:22px}

.cancel-button{position: relative;right:14px;}

.full-width{padding-bottom: 15px;}