
.main-container { position: absolute; top: 64px; bottom: 0; left: 0; right: 0; }
@media (max-width: 599px){
  .main-container{ top: 56px; }
}

.nav-menu-button { padding-left: 10px; padding-right: 10px; min-width:10px; 
                   position: relative; left: -10px;}

.sidenav-container { padding-top: 10px;overflow:hidden; width:200px }

.sidenav-inner-container {overflow:hidden;}


.nav-menu-link { width: 100%; max-width: 200px; text-align: left; margin:0px 0px;padding: 10px;}

.nav-menu-link-active { background-color: #fafafa; }

.main-stage { padding: 18px; }

.full-width {width: 400px; max-width:100%; margin: 15px;}
.full-width-2 {width: 400px; max-width:100%; margin: 15px;margin-top: -15px;}

.add-company-title {padding-bottom: 20px;padding-left: 15px;padding-top:15px;}

.add-company-button {margin-right: 47px;margin-top:20px;float: right;margin-bottom: 15px;}

.form-group {margin-bottom: 0px;}

.company-form {max-width: 1010px;}

.button-container{text-align: right;width: 100%;display: inline-block}

.shorter-col{max-width: 500px;}

.domain-row{padding-right:0px;}

.edit-button{float: right; position: relative;bottom:13px;}

@media (max-width: 1250px){
  .full-width, .full-width-2 {width: 300px;} 
}

@media (max-width: 1050px){
  .full-width, .full-width-2 {width: 250px;} 
}

@media (max-width: 767px){
  .full-width, .full-width-2 {width: 280px;} 
  .domain-button {position: relative; bottom: 30px;}
  .add-company-button {margin-right: -3px;}
}